[Desktop Entry]
Encoding=UTF-8
Name=MCH
Comment=MCH P2P Cryptocurrency
Comment[fr]=MCH, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MCH, eşten eşe kriptografik sanal para birimi
Exec=mktcash-qt %u
Terminal=false
Type=Application
Icon=mktcash128
MimeType=x-scheme-handler/mktcash;
Categories=Office;Finance;
